<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
<title>Layout</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">
</head>

<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<div class="row">
			<div class="col-3">
				<div th:replace="fragments/menu :: menu"></div>
			</div>
			<div class="col-9">
				<div layout:fragment="content"></div>
			</div>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</div>

</body>

</html>